# -----------------------------------------------------------------------------
# development environment 
# -----------------------------------------------------------------------------
.DS_STORE

# -----------------------------------------------------------------------------
# integrated development environments 
# -----------------------------------------------------------------------------
.idea

# -----------------------------------------------------------------------------
# front 
# -----------------------------------------------------------------------------
front/public
front/node_modules
front/yarn-error.log

# -----------------------------------------------------------------------------
# back 
# -----------------------------------------------------------------------------
back/requirements.txt
back/pip-log.txt
back/__pycache__
