# -----------------------------------------------------------------------------
# development environment 
# -----------------------------------------------------------------------------
.DS_STORE

# -----------------------------------------------------------------------------
# integrated development environments 
# -----------------------------------------------------------------------------
.idea

# -----------------------------------------------------------------------------
# application
# -----------------------------------------------------------------------------
*.pyc

front/package.json
front/yarn.lock

front/public
front/node_modules

back/requirements.txt
back/pip-log.txt
back/__pycache__

data
